body {
	margin: 0;
	font-family: 'Bitter', serif;
}
#content {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
	text-align center;
}
#logo {
	margin: 30px;
}
#way {
	position: relative;
	top: -170px;
	left: 320px;
	width: 470px;
	height: 401px;
}
#block1 {
	color: #5f5e5d;
	text-align: left;
	top: -370px;
	left: 60px;
}
#block2 {
	color: #b4b2ad;
	text-align: right;
	top: -655px;
	left: 680px;
}
.block{
	width: 285px;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	line-height: 30px;
}
#download {
	position: relative;
	top: -505px;
	left: 700px;
	width: 260px;
	height: 80px;
}
#down {
	background-image: url("../images/down_bg.png");
	background-repeat: repeat-x;
	background-color: #DE4C2F;
	width: 100%;
	top:560px;
	left: 0;
	position: absolute;
}
#documentation {
	text-align: left;
	margin: 0 auto;
	width: 900px;
	padding-top:30px;
	font-size: 14px;
	color: #fff;	
	line-height: 30px;
	margin-bottom: 50px;
}
.title {
	font-size: 36px;
	font-weight: bold;
}
.subtitle {
	font-size: 24px;
	font-weight: bold;
}
.subtitle2 {
	font-size: 18px;
	font-weight: bold;
}
.highlight {
	color: #fbad9f;
}
.code {
	position: relative;
	background: #efeeee;
	border: 1px solid #932b16;
	-moz-box-shadow:    inset 0 0 12px #999;
  -webkit-box-shadow: inset 0 0 12px #999;
  box-shadow:         inset 0 0 12px #999;
	zoom: 1;
	padding: 10px;
	min-width:630px;
	max-width:830px;
	font-size: 13px !important;
	line-height: 21px !important;
	color: #de4c2f !important;
	font-family: 'Terminal', 'Courier New', monospace !important;
}